<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @maker.name %>
</p>

<p>
  <b>Site:</b>
  <%= @maker.site %>
</p>

<p>
  <b>Memo:</b>
  <%= @maker.memo %>
</p>


<%= link_to 'Edit', edit_maker_path(@maker) %> |
<%= link_to 'Back', makers_path %>
